
/* ----------- My Form ----------- */
.myform{
margin:0 auto;
width:460px;
padding:14px;
}

/* ----------- stylized ----------- */
#stylized{
border:solid 2px #FFBF0C;
background:#FFEEC1;
}
#stylized h1 {
font-size:14px;
font-weight:bold;
margin-bottom:8px;
}
#stylized p{
font-size:11px;
color:#666666;
margin-bottom:5px;
border-bottom:solid 0px #b7ddf2;
padding-bottom:5px;
}
#stylized label{
display:block;
font-weight:bold;
text-align:right;
width:125px;
float:left;
}
#stylized .small{
color:#666666;
display:block;
font-size:11px;
font-weight:normal;
text-align:right;
width:125px;
}
#stylized .errorsmall{
color:red;
display:block;
font-size:11px;
font-weight:normal;
text-align:right;
width:125px;
}

#stylized select{
float:left;
font-size:12px;
padding:4px 2px;
border:solid 1px #aacfe4;
width:240px;
margin:2px 0 20px 10px;

}


#stylized input{
float:left;
font-size:12px;
padding:4px 2px;
border:solid 1px #aacfe4;
width:250px;
margin:2px 0 20px 10px;
}
#stylized textarea{
float:left;
font-size:12px;
padding:4px 2px;
border:solid 1px #aacfe4;
width:250px;
height:50px;
margin:2px 0 20px 10px;

}
#stylized .half {
float:left;
font-size:12px;
text-align:center;
padding:4px 2px;
border:0;
width:125px;
margin:2px 0 10px 10px;
}
#stylized .halfwb {
float:left;
font-size:12px;
text-align:left;
padding:4px 2px;
border:solid 1px #aacfe4;
width:117px;
margin:2px 0 10px 10px;
}

#stylized .inputfield{
float:left;
font-size:12px;
padding:4px 2px;
border:solid 1px red;
width:250px;
margin:2px 0 20px 10px;
}

#stylized button{
clear:both;
margin-left:190px;
width:125px;
height:31px;
background:#666666;
text-align:center;
line-height:31px;
color:#FFFFFF;
font-size:11px;
font-weight:bold;
}
#stylized .wide {
width:320px;
text-align:left;
}
#stylized .radio, .radio {
width:45px;
height:17px;
margin:0 0 0 90px;
padding:0;
border:0;
}
.spacer {
width:400px; 
height:10px; 
float:right;
}
#stylized .radioerror {
color:red;
width:325px;
}
#stylized .checkerror {
border: 1px solid red;
}