*.log
.htaccess
sitemap.xml
sitemap.xml.gz
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php
inc/php/bookcovercaptcha.inc
inc/php/mail.inc.php
inc/php/openconnection.php
inc/php/openconnectionro.php
inc/php/mtgroomemailformat.php
inc/php/mail.php
inc/php/mail.customfrom.php
deploy.php
deploy-config.php
