/* === === ===
MFRL Fresh Start CSS
Copyright 2011-2012 Yanni Cooper
For Montgomery-Floyd Regional Library system
Colors
Menu Blue: #0099cc;
Menu Hover: #ffbf0c;
Menu Active: #ff9000;
Header Blue: #0086c6;
Subhead Orange: #f09100;
Visited Purple: #90c;
Link Active: #f70;
#ffeec1
#0086b3

=== === === */
html, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	
	vertical-align: baseline;
	background: transparent;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 2px;
	font-size:11px;
	line-height:17px;
	vertical-align:middle;
	background:#fffaef;
}
tr,td {
padding:1px 5px;}

html, body , #wrap{ min-height:100%;}
body {
margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	line-height: 1;
	background: url('/images/background.png') repeat-x;
}

/* === LINKS === */
a:link {
	color:#0086b3;	
}
a:visited {
	color:#90c;
	}
a:hover {
	color:#f90;
	background: #ffffee;
	text-decoration:underline overline;
	outline: 1px solid white;
	}
a:active {
	color:#f70;
	text-decoration:none;
	outline: 1px solid red;
	}
	
ol, ul {
	list-style: none;
	font-size:.688em;
	line-height:14px;
}
blockquote, q {
	quotes: none;
}
/* remember to define focus styles! */
:focus {
	outline: 2px;
}
/* === HEADER === */
#skip a, #skip a:hover, #skip a:visited 
{ 
position:absolute; 
left:0px; 
top:-500px; 
width:1px; 
height:1px; 
overflow:hidden;
} 

#skip a:active, #skip a:focus 
{ 
position:static; 
width:auto; 
height:auto; 
}

#header {
margin:auto;
width: 924px;
height:107px;
background: #fff;
}

#logo {
float:left;
height:107px;
width:291px;
}
#logo a {
display:block;
}
#searchbox  {
padding-left:20px;
margin-bottom:10px;
}
#searchbox input[type="text"] {
height:25px;
width: 360px;
font-size:1.2em;
Margin-bottom:2px;
margin-top:5px;
background-color:#fafafa;
}

#searchbox select {
height:25px;
font-size:.9em;
margin: 0;
padding:0;
}
#searchbox input[type="submit"] {
font-size:.9em; margin:0;
padding:3px 5px 3px 4px;
overflow:visible;
font-weight:bold;
}
#searchbox input[type="text"]:focus,#searchbox select:focus, #searchbox input[type="submit"]:focus{
background:#ffeec1;
border: 2px solid #f90;
}
#spacer {

width:100px;
float:left;
}

#headphoto{
float:right;
z-index:0;
height:81px;
width:632px;
margin:25px 0 0 0;
padding:0;
overflow:hidden;
}
/* Body */
#wrap {
background:white;
width: 924px;
margin: 0 auto;
}
/*** Fixed Width Left Column ***/
#leftcol {
display:block;
width: 473px;
float:left;
margin: 10px 10px 0 9px;
}

/*** Fixed Width Right Column ***/
#rightcol {

width:404px;
float:left;
margin: 10px 5px 0 15px;
} 
/*** Fixed Width Left Menu ***/
#leftmenu {
display:block;
width: 172px;
float:left;
margin: 10px 10px 0 9px;
background:#ffeec1;
}

/*** Fixed Width Full right Column ***/
#fullrightcol {

width:705px;
float:left;
margin: 10px 5px 0 5px;
background:#fff8e6;
} 
.fpdiv {
border:2px solid #fc3; 
padding:5px; 
margin-bottom:5px;
}
.pagediv{
border:2px solid #fc3; 
padding:5px 15px; 

}
/*** Front Page Paragraphs ***/
p{ 
font-size:.688em;
line-height:17px;
margin: 1em 0;
display:block;

}
#maincontent p.plain:first-line {

font-weight:normal;
}

p.fph3:first-line{
font-size:110%;
}
/*** Default Image Behavior ***/
img.wrap {
float:right;
margin:3px;
}


/*** Footer Styles ***/
.footer_links {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 13px;
font-weight: normal;
color: #fc0;
border: 2px solid #bbb;
border-left:0;
border-right:0;
padding:0 8px 2px 8px;
margin-bottom:5px;
}
#footer {
margin:5px;
width:905px;
}
#footer img {
line-height:1px;
vertical-align:top;
} 
.footercopyright {
float:left;
width:325px;
}
.footer_links a{
padding:0 4px;
}
 .footer_links a:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #999;
	font-weight:normal;
	text-decoration: none;
	font-size: 10px;
}
.footer_links a:visited {
	color: #999;
	font-weight:normal;
	text-decoration: none;
}
.footer_links a:hover {
	color: #FF9900;
	font-weight:normal;
	text-decoration: none;
}
.footer_links a:active {
	color: #FFCC00;
	font-weight:normal;
	text-decoration: none;
}
.footertext {
	height:35px;
	font-size: 9px;
	line-height: 14px;
	color: #999;
	margin:10px 0 0 0;
}
#serving {
color:#f90;
float:right;
height: 15px;
width:335px;
margin:-25px 70px 5px 0;
font-size: 1.4em;
font-weight:bold;
font-family: sans-serif;
}

/* New Stuff */
.halfiddy {
    width:0;
    height:20px;
    border-left:50px solid black;
    border-right:50px solid white;
    float:left;
}
.menucont{
    background:#09c;
    padding:0;
    margin:0;
    width:924px;
    padding-top:7px;
	border-radius:0;
}
.sf-menu, .sf-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
    z-index: 100;
    
}
.home {
    border:7px solid #09c;
    border-top:0;
    margin-top:-4px;
	border-bottom:3px solid #09c;
    float:left; background:white; padding:1px 0px 2px 0px;
    height:25px;
	border-radius:0;
}
.home.active{
    border-bottom:0;
	margin-top:0px;
    height:24px;
}

.home img {
    border:0;margin:0;
	padding:0 13px;
}

.home a:hover{
border:0;
background:transparent;
outline:0;
}
.home:hover {
    background:orange;
    
}
.sf-menu {
    line-height: 1.0;
}
.sf-menu ul {
    position: absolute;
    top: -999em;
    width: 86px;
    /* left offset of submenus need to match (see below) */
}
.sf-sub-indicator {
display:none;
}
.sf-menu li {
    padding: 0;
    color: white;
    font-family: Tahoma, Verdana, lucida, sans-serif;
    font-size:12px;
    line-height:16px;
    width:108px;
    background: #09c;
    text-decoration: none;
    text-align:left;
    margin-top:0;
    text-align:center;
}
.sf-menu li li {
    width:108px;
}
li.kids, li.teens {
    width:80px;
}
li.books, li.books li {
width:140px;
}
li.hours, li.hours li {
width:128px;
}
li li.bottom{
	background:url('http://www.mfrl.org/images/bmbottomsolid108b.png');
	padding:0;
	height:39px;
    width:108px;
}    
li.books li.bottom {
    background:url('http://www.mfrl.org/images/bmbottomsolid5.png');
    height:50px;
    width:140px;
    
}
li.hours li.bottom {
	background:url('http://www.mfrl.org/images/bmbottomsolid128.png');
	width:128px;
	height:46px;
}
.sf-menu ul li {
    /* width:			98px;*/
}
.sf-menu li:hover {
    visibility: inherit;
    /* fixes IE7 'sticky bug' */
}
.sf-menu li {
    float: left;
    position: relative;
    
}

.sf-menu a {
    display: block;
    position: relative;
    color: white;
    border: 1px solid white;
    
    border-bottom:0;
    margin: 0 7px;
    padding: 5px;
}
.sf-menu li a {
    border-top:1px solid white;
}
.sf-menu li li a {
    border-top:0;
}

.sf-menu li:hover ul, .sf-menu li.sfHover ul {
    left: 0;
    top: 26px;
    /* match top ul list item height */
    z-index: 99;
}
ul.sf-menu li:hover li ul, ul.sf-menu li.sfHover li ul {
    top: -999em;
}
ul.sf-menu li li:hover ul, ul.sf-menu li li.sfHover ul {
    left: 86px;
    /* match ul width */
    top: 0;
}
ul.sf-menu li li:hover li ul, ul.sf-menu li li.sfHover li ul {
    top: -999em;
}
.sf-navbar li.current, .sf-navbar li a.current, .sf-menu li.active {
    background: white;
    color:black;
    font-weight:bold;
}
.sf-menu li.active a {
color:black; 
font-weight:normal;
}
.sf-menu li.active li a{
color:white;
font-weight:normal;
}

li li.bottomteens {
        background:url('http://www.mfrl.org/images/bmbottom.png');
    padding:0;
    border-top:0;
    height:45px;
    width:96px;

}
li li div.bottomtriangles {
    width:0;
    height:0;
    border-color:#09c #09c transparent #09c;
    border-style:solid;
    border-width: 12px 62px 35px 62px;
border-radius:0 0 9px 9px;
}

li li div.bottomitriangles {
    width:0;
    height:0;
    margin-left:-55px;
    margin-top:-12px;
    border-color:white white transparent white;
    border-style:solid;
    border-width: 1px 55px 32px 55px;
}
li li div.bottomiitriangles {
    width:0;
    height:0;
    margin-left:-54px;
    margin-top:-3px;
    border-color:#09c #09c transparent #09c;
    border-style:solid;
    border-width: 1px 54px 32px 54px;
}
li a:hover {
    background:orange;
    text-decoration:none;
	border-top:1px;
	
}
li li a:hover{
border-bottom:1px solid white;
}
li.home a:hover{
    background:orange;
   
}
li.home {
    width:60px;
    
}
li.home a {
    border:0;
    margin:0;
}


div.content {
 border: 7px solid #09c;
    border-top:0;
    width:800px;
    padding:15px;
}
.fullwide {
    width:100%;
    background: #fafafa;
    margin-bottom:10px;    
    padding:5px;
}
.leftmenu {
    float:left;
    display:inline-block;
    width:250px;
    background:#ffeecc;
    margin-bottom:10px;
    font-weight:bold;
    padding:3px 5px;
    
}
.normalpage {
    float:left;
    width:520px;
    margin-left:5px;
    background: #f1f1f1;
    margin-bottom:10px;
    padding:5px;
    display:inline-block;
}
.blue{
color:#0086b3;
}
/* === Marquee Styles ===*/
p.marqueelow { 
text-align:top;
background:#39f; 
color:#fafafa; 
font-size:16px; 
font-weight:bold; 
line-height:20px;
padding:5px;}
p.marqueelow a:link,p.marqueemed a:link{ color:red; }
p.marqueehi a:link{ color:blue; }
p.marqueemed a:hover{background:white;}
p.marqueemed {
text-align:top;
background:#ff3; 
color:#444; 
font-size:16px; 
font-weight:bold; 
line-height:20px;
padding:5px;
}
p.marqueehi {
text-align:top;
background:#f33; 
color:#222; 
font-size:16px; 
font-weight:bold; 
line-height:20px;
padding:5px;}